    <footer class="footer-area">
      <hr>
      <div class="navigations">
        <ul class="link">
          <li><a target="_blank" href="#">利用規約</li>
          <li><a target="_blank" href="#">プライバシーポリシー</li>
          <li><a target="_blank" href="#">会社概要</li>
          <li><a target="_blank" href="#">お問合せ</li>
        </ul>
        <ul class="copyright">
          <li>Copyright 2022 STC LLC</li>
        </ul>
      </div>
    </footer>