 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#board-navbar-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <span class="navbar-brand">経営ボード</span>
      </div>
      <div class="collapse navbar-collapse" id="board-navbar-1">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <%= link_to boards_index_path do %>
              <span class="nav-link">ダッシュボード</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to comments_path do %>
              <span class="nav-link">メモ</span>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">問い合わせ(準備中)</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <%= link_to logout_path, method: :delete do %>
                <span>ログアウト</span>
            <% end %>
          </li>
          <li class="nav-item navbar-form nav-form-left">
            <btn class="btn">
              <%= link_to '今日のメモ', boards_index_path, onclick: "window.open('../comments/new', '_blank', 'popup=yes')", class: "open-window" %>
            </btn>
          </li>
        </ul>
      </div>
    </div>
  </nav>