<div class="index-wrapper">
  <div class="menu-bar">
    メニュー
  </div>
  <div class="container">
    <h1 class="company-name text-gray">STC合同会社</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="kpi-card">
          <div class="kpi-title">
            <h2 class="text-gray">資金収支</h2>
            <h3>選択ボタン</h3>
          </div>
          <div class="kpi-summary">
            <p class="text-gray kpi-highlight">3,479 千円</p>
            <p class="text-gray">現在の残高</p>
          </div>
          <div class="kpi-graph">
            <p>グラフエリア</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kpi-card">
          <div class="kpi-title">
            <h2 class="text-gray">未決済内訳</h2>
            <h3>期間の選択</h3>
          </div>
          <div class="kpi-graph text-gray">
            <p>1,289千円の未収</p>
            <p>グラフエリア</p>
          </div>
          <div class="kpi-graph text-gray">
            <p>1,543千円の未払</p>
            <p>グラフエリア</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kpi-card">
          <div class="kpi-title">
            <h2 class="text-gray">口座残高</h2>
          </div>
          <div class="kpi-graph text-gray">
            <h2>銀行</h2>
            <table>
              <tr>
                <td>同期口座の残高合計</td>
                <td>6,530千円</td>
              </tr>
              <tr>
                <td>freee上の帳簿残高</td>
                <td>6,746千円</td>
              </tr>
            </table>
          </div>
          <div class="kpi-graph text-gray">
            <h2>クレジットカード</h2>
            <table>
              <tr>
                <td>同期口座の残高合計</td>
                <td>2,499千円</td>
              </tr>
              <tr>
                <td>freee上の帳簿残高</td>
                <td>2,499千円</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="kpi-card">
          <div class="kpi-title">
            <h2 class="text-gray">営業損益</h2>
            <h3>期間の選択</h3>
          </div>
          <div class="kpi-summary">
            <h1 class="text-gray">▲12,459千円</h1>
          </div>
          <div class="kpi-graph text-gray">
            <p>6,459千円の収益</p>
            <p>グラフエリア</p>
          </div>
          <div class="kpi-graph text-gray">
            <p>18,000千円の費用</p>
            <p>グラフエリア</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kpi-card">
          <div class="kpi-title">
            <h2 class="text-gray">収益</h2>
            <h3>期間の選択</h3>
          </div>
            <div class="kpi-summary">
            <h1 class="text-gray">6,459千円</h1>
          </div>
          <div class="kpi-graph">
            <p>グラフエリア</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kpi-card">
          <div class="kpi-title">
            <h2 class="text-gray">費用</h2>
            <h3>期間の選択</h3>
          </div>
            <div class="kpi-summary">
            <h1 class="text-gray">18,000千円</h1>
          </div>
          <div class="kpi-graph">
            <p>グラフエリア</p>
          </div>
        </div>
      </div>
    </div>    

  </div>
</div>  