.index-wrapper {
  width: 100vw;
}

.company-name {
  font-size: 36px;
  margin-top: 15px;
}
.menu-bar {
  background-color: blue;
  color: white;
  height: 50px;
}

.kpi-card-1 {
  border-style: solid; 
  border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-summary {
    height: 70px;
    margin: 0px;
    padding: 0px;
    .kpi-highlight {
      font-size: 32px;
      margin: 0px;
      padding: 0px;
    }
    .kpi-discrption {
      font-size: 12px;
      margin: 0px;
      padding: 0px;
    }
  }
  .kpi-graph-1 {
    height: 200px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.kpi-card-2 {
  border-style: solid; 
  border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-discrption {
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 0px;
  }
  .kpi-graph-2 {
    height: 74px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 10px 0;
  }
}


.kpi-card-3 {
  border-style: solid; border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-summary {
    height: 70px;
    margin: 0px;
    padding: 0px;
    .kpi-highlight {
      font-size: 32px;
      margin: 0px;
      padding: 0px;
    }
    .kpi-discrption {
      font-size: 12px;
      margin: 0px;
      padding: 0px;
    }
  }
  .kpi-graph {
    height: 200px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.text-gray {
  color:  #323232;
}


h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.modal-btn {
  color:  #323232;
  font-size: 54px;
}