.index-wrapper {
  width: 100vw;
}

.menu-bar {
  background-color: blue;
  color: white;
  height: 50px;
}


.company-name {
  font-size: 36px;
  margin-top: 15px;
}

.btn {
  margin-top: 23px;
  background-color: #285ac8;
  color: white;
}

.kpi-card-1 {
  border-style: solid; 
  border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-summary {
    height: 70px;
    margin: 0px;
    padding: 0px;
    .kpi-highlight {
      font-size: 32px;
      margin: 0px;
      padding: 0px;
    }
    .kpi-discrption {
      font-size: 12px;
      margin: 0px;
      padding: 0px;
    }
  }
  .kpi-graph-1 {
    height: 200px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.kpi-card-2 {
  border-style: solid; 
  border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-discrption {
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 0px;
  }
  .kpi-graph-2 {
    height: 74px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 10px 0;
  }
}


.kpi-card-3 {
  border-style: solid; border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-summary {
    height: 70px;
    margin: 0px;
    padding: 0px;
    .kpi-highlight {
      font-size: 32px;
      margin: 0px;
      padding: 0px;
    }
    .kpi-discrption {
      font-size: 12px;
      margin: 0px;
      padding: 0px;
    }
  }
  .kpi-graph {
    height: 200px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.comment-new-wrapper {
  padding-top: 10px;  
  .form-control-select {
    height: 30px;
    width: 120px;
  }
  .form-control-description {
    height: 75px;
  }

  .form-control-title {
    height: 30px;
  }

  .comment-group {
    margin-bottom: 20px;
  }
  
}


.text-gray {
  color:  #323232;
}


h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.fixed-btn {
  position: fixed; /* 追従させる */
  z-index: 99999; /* 他の要素の下に隠れない */
  top: 5%; /* 上から150pxのところにバナーを配置します */
  right: 15%; /* 右から40pxのところにバナーを配置します */
}

#modal-overlay {
  display: none;   /* デフォルトは非表示 */
  z-index: 1;      /* モーダルウィンドウと通常画面の間に表示 */
  position: fixed; /* 表示を固定してスクロールで動かさない */
  top: 0;          /* 全画面表示なので0 */
  left: 0;         /* 全画面表示なので0 */
  width: 100%;     /* 全画面表示なので100% */
  height: 100%;    /* 全画面表示なので100%。スマートフォンでの表示対応する場合は120%に */
  background-color: rgba(0,0,0,0.25); /* 背景を黒の半透明に */
}

#modal-window {
  display: none;
  z-index: 2;      /* 最前面に表示 */
  position: fixed;
  top: 30%;        /* 画面中央に表示 */
  left: 70%;       /* 画面中央に表示 */
  transform: translate(-50%, -30%); /* モーダルウィンドウの大きさ分中央にずらす */
  /* 以下はモーダルウィンドウの外観。ご自由に */
  width: 300px;
  heigt: 500px;
  margin: 1.5em auto 0;
  padding: 10px 0 10px 0;
  
  border-radius: 5px;
  background: #fff;
}


.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #ebf3ff;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .users-new-container {
    padding-top: 30px;

    .form-group {
      margin: 40px 0 20px 0;
    }
    
    .login-signup-link {
      margin-top: 10px;
    }
  }
}

.background-white {
  width: 60vw;
  background-color: white;
  background-position: center center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}