.index-wrapper {
  width: 100vw;
}

.navbar-default {
  background-color: #e3f2fd;
  height: 55px;
}

.container-fluid {
  padding-right: 30px;
  background-color: #e3f2fd;
}

.navbar-brand {
  font-size: 24px;
  p {
    margin-bottom: 0px;
  }
}

.btn {
  background-color: #285ac8;
  color: #ffffff;
}

.kpi-card-1 {
  border-style: solid; 
  border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-summary {
    height: 70px;
    margin: 0px;
    padding: 0px;
    .kpi-highlight {
      font-size: 32px;
      margin: 0px;
      padding: 0px;
    }
    .kpi-discrption {
      font-size: 12px;
      margin: 0px;
      padding: 0px;
    }
  }
  .kpi-graph-1 {
    height: 200px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.kpi-card-2 {
  border-style: solid; 
  border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-discrption {
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 0px;
  }
  .kpi-graph-2 {
    height: 74px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 10px 0;
  }
}


.kpi-card-3 {
  border-style: solid; border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
  .kpi-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  .kpi-summary {
    height: 70px;
    margin: 0px;
    padding: 0px;
    .kpi-highlight {
      font-size: 32px;
      margin: 0px;
      padding: 0px;
    }
    .kpi-discrption {
      font-size: 12px;
      margin: 0px;
      padding: 0px;
    }
  }
  .kpi-graph {
    height: 200px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.comment-card {
  border-style: solid; 
  border-color: #595959;
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
  height: 300px;
}

.comment-new-wrapper {
  padding-top: 10px;  
  .form-control-select {
    height: 30px;
    width: 120px;
  }
  .form-control-description {
    height: 75px;
  }

  .form-control-title {
    height: 30px;
  }

  .comment-group {
    margin-bottom: 20px;
  }
  
  .comment-post {
    margin-top: 30px;
  }
}


h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

hr {
  margin: 0 0 10px 0;
}

td {
  min-width: 50px;
}

.text-gray {
  color:  #323232;
}

.text-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
} 

.text-tention {
  font-size: 12px;
  padding-top: 5px;
}

.text-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
} 

.open-window {
  color: #ffffff;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #ebf3ff;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .users-new-container {
    padding-top: 30px;

    .form-group {
      margin: 40px 0 20px 0;
    }
    
    .login-signup-link {
      margin-top: 10px;
    }
  }
}

.background-white {
  width: 60vw;
  background-color: white;
  background-position: center center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.signup-login-btn {
  margin-top: 30px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.container.card-conatainer {
  margin-top: 60px;
}

.container.comment-container {
    margin-top: 60px;
}

.download-btn {
  margin: 10px 0 0 0;
  text-align: right;
}
.container.new-comment-container {
    margin-top: 30px;
}

.footer-area {
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 11px;
  color: #323232;
}

.navigations ul {
  padding-left: 20px;
}

.navigations ul li {
    display: inline;
    list-style: none;
    margin-right: 8px;
}